<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fun Cat Facts</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <style>
      body.dark-mode {
        background-color: #222;
        color: #fff;
      }
      .card.dark-mode {
        background-color: #333;
        color: #fff;
      }
      .card {
        transition: all 0.3s ease;
        cursor: pointer;
      }
      .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
      }
      .card.dark-mode:hover {
        box-shadow: 0 5px 15px rgba(255, 255, 255, 0.3);
      }
      .badge-verified {
        background-color: #28a745;
      }
      .badge-not-verified {
        background-color: #dc3545;
      }
      #dark-mode-switch {
        cursor: pointer;
      }
    </style>
  </head>
  <body class="container my-5">
    <h1 class="text-center">Fun Cat Facts!</h1>
    <div class="form-check form-switch my-3">
      <input class="form-check-input" type="checkbox" id="dark-mode-switch" />
      <label class="form-check-label" for="dark-mode-switch">Dark mode</label>
    </div>
    <hr />
    <div class="row">
      {% for fact in facts %}
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card my-2">
          <div class="card-body">
            <h5 class="card-title">{{ fact.text }}</h5>
            <p class="card-text">Type: {{ fact.type }}</p>
            {% if fact.status.verified %}
            <span class="badge badge-verified">Verified</span>
            {% else %}
            <span class="badge badge-not-verified">Not Verified</span>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
      integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
      crossorigin="anonymous"
    ></script>
    <script>
      const darkModeSwitch = document.getElementById("dark-mode-switch");
      const body = document.body;
      const cards = document.querySelectorAll(".card");

      darkModeSwitch.addEventListener("change", () => {
        if (darkModeSwitch.checked) {
          body.classList.add("dark-mode");
          cards.forEach((card) => card.classList.add("dark-mode"));
        } else {
          body.classList.remove("dark-mode");
          cards.forEach((card) => card.classList.remove("dark-mode"));
        }
      });

      darkModeSwitch.checked = true;
      body.classList.add("dark-mode");
      cards.forEach((card) => card.classList.add("dark-mode"));
    </script>
  </body>
</html>
